body {
	max-width: 800px;
	margin: auto;
	font-family: sans-serif;
}

table {
	border-collapse:collapse;
	width:100%;
	max-width:700px;
	min-width:400px;
	text-align:center;
}

table, th, td {
	border: 1px solid #666;
}

th, td {
	height: 24px;
	padding:4px;
	vertical-align:middle;
}

a,
a:link,
a:visited,
a:active {
	color: #2980b9;
}

.ok {
	background-color: #16a085;
	color: #f1f1f1;
}

.maybe {
	background-color: #f39c12;
	color: #f1f1f1;
}

.fail {
	background-color: #c0392b;
	color: #f1f1f1;
}
